/* Aesthetic appearance and body components */
body{
    font-family: Arial, sans-serif!important;
    background: linear-gradient(0deg, rgba(85, 95, 23, 1) 0%, rgba(240, 232, 159, 1) 100%);
    min-height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size:fill;
    margin-top: 4%;
}
h1{
    font-size:48px;
    font-family: Arial, sans-serif !important;
    padding-top:2%;
}
h2{
    font-size:32px;
    font-family: Arial, sans-serif !important;
}
h3{
    font-size: 24px;
    padding:2rem;
}
.title-deco{
    max-width:250px;
    display:block;
    margin:auto;
    margin-bottom:1rem;
}
.title-deco-2{
    max-width:900px;
    display:block;
    margin:auto;
    margin-bottom:1rem;
}
.box{
    border-style:solid;
    border-radius:40px;
    margin: 0 10%;
    text-align: center;
    border-color: #222412;
    border-width: 5px;
    background-color: rgba(240, 232, 159, 0.2);
    margin-bottom:4rem;
}
p{
    text-align: justify;
    padding:2rem;
    font-size:24px;
}
/* Aesthetic appearance and body components */
/* Navbar and header */
a{
    text-decoration: none !important;
    color:#ECECEC !important;
}
a:active{
    text-decoration: underline !important;
    text-decoration-color: #ECECEC !important;
}
.navigation{
    display:flex !important;
    justify-content: right !important;
    padding:10px 20px !important;
    font-size:18px !important;
}
.navigation:hover{
    flex-wrap: wrap;
    text-decoration: underline !important;
    text-decoration-color: #ECECEC !important;
}
.navbar{
    position:fixed;
    left:0;
    right:0;
    top:0;
    z-index:1;
    overflow:hidden;
    background: #4B5711;
    background: linear-gradient(180deg,rgba(75, 87, 17, 1) 0%, rgba(153, 155, 82, 1) 100%);    
    color:#ECECEC;
    list-style-type: none;
}
.logo{
    max-width:5%;
    margin:1rem 1rem 0 1rem;
    vertical-align: middle;
}
.PFELogo{
    max-width:50px !important;
    margin:auto;
    margin-right:1rem;
    vertical-align: middle;
}
.ICLogo{
    max-width:20rem;
    display:block;
    margin:auto;
    margin-bottom:1rem;
}
.title{
    display:contents;
    align-content: start;
    font-family: "Caveat Brush", sans-serif;
    font-size: 32px;
}
/* Navbar and header */
/* Carousel*/
.c-item{
    height:250px;
}
.c-img{
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}
.c-img:hover{
    transform: scale(1.1);
}
/* Carousel*/
/* Images and icons*/
.icon-team{
    height: 300px;
    margin:auto;
    margin-bottom:4rem;
}
/* Images and icons*/
/* Form */
.box-contact{
    border-style:solid;
    border-radius:40px;
    margin: 0 5%;
    text-align: center;
    border-color: #222412;
    border-width: 5px;
    background-color: rgba(255, 255, 255, 1);
    margin-bottom:4rem;
    padding:20px;
}
.text-box{
    background-color: #e6e6e6 !important;
}
button{
    border-radius: 10px !important;
    background: #FFF2BC;
    background: linear-gradient(0deg,rgba(249, 211, 175, 1) 0%, rgba(255, 242, 188, 1) 100%);
    padding:5px 25px;
    border-color: #CA7363;
    border-style:solid;
    font-size:18px !important;
}
/* Form */
/* Footer */
footer{
    position:fixed;
    overflow:hidden;
    left: 0;
    bottom: 0;
    width:100%;
    background: #4B5711;
    background: linear-gradient(0deg,rgba(75, 87, 17, 1) 0%, rgba(153, 155, 82, 1) 100%);
    height:50px;
}
.social{
    display:flex;
    z-index:1;
    flex-wrap:wrap;
    width:25px;
}
.copyright{
    color:#ECECEC;
    font-size:14px;
    margin-top: -10px;
}
/* Footer */

@media (max-width: 738px){
    body{
        font-family: Arial, sans-serif!important;
        background: linear-gradient(0deg, rgba(85, 95, 23, 1) 0%, rgba(240, 232, 159, 1) 100%);
        min-height:100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size:fill;
        margin-top: 4%;
    }
    .PFELogo{
        max-width:50px !important;
        margin-right:1rem;
        vertical-align: middle;
    }
    .title{
        font-family: "Caveat Brush", sans-serif;
        font-size: 32px;
    }
    .title-deco{
        max-width:250px;
        display:block;
        margin:auto;
        margin-bottom:1rem;
    }
    .title-deco-2{
        max-width:300px;
        display:block;
        margin:auto;
        margin-bottom:1rem;
    }
    .PFELogo{
        max-width:10%;
        margin:auto;
        margin-right:1rem;
        display: block;
        justify-content: center;
    }
    .ICLogo{
        width:20rem;
        display:block;
        margin:auto;
        margin-bottom:1rem;
    }
    .box{
        border-style:solid;
        border-radius:40px;
        margin: 0 5%;
        text-align: center;
        border-color: #222412;
        border-width: 5px;
        background-color: rgba(240, 232, 159, 0.2);
        margin-bottom:4rem;
    }
    .box-contact{
        border-style:solid;
        border-radius:40px;
        margin: 0 0 5% 0 !important;
        text-align: center;
        border-color: #222412;
        border-width: 5px;
        background-color: rgba(240, 232, 159, 0.2);
        margin-bottom:4rem;
    }
    footer{
        position:relative;
        overflow:hidden;
        left: 0;
        bottom: 0;
        width:100%;
        background: #4B5711;
        background: linear-gradient(0deg,rgba(75, 87, 17, 1) 0%, rgba(153, 155, 82, 1) 100%);
        height:50px;
    }
}